Experimento1/Experimento1-war/web/WEB-INF/wsdl/localhost_8080/Police-war/EmergencyWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addEmergency" type="tns:addEmergency"/>

<xs:element name="getEmergencias" type="tns:getEmergencias"/>

<xs:element name="getEmergenciasResponse" type="tns:getEmergenciasResponse"/>

<xs:complexType name="getEmergencias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmergenciasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmergency">
<xs:sequence>
<xs:element name="msg" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>